* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a003a; 
    min-height: 100vh;
    width: 100%;
    color: #fff;
    padding: 0 1%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
}

.visualizar-body {
    background-color: #0a003a; 
    padding: 1rem; 
}
.visualizar-body::-webkit-scrollbar {
    width: 10px; 
    border-radius: 10px; 
    background-color: transparent; 
    mix-blend-mode: difference;
}

.visualizar-body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.center {
    z-index: 1; 
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container-visualise {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: auto;
    background-color: rgb(12, 12, 71);
    opacity: 75%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    border: 1px solid #0a003a; 
}
.card-visualise {
    position: relative;
    width: 355px;
    height: 378px;
    background-color: rgb(12, 12, 71);
    opacity: 75%;
    border-radius: 8px;
    border: 1px solid #0a003a; 
    overflow-y: auto; 
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease; 
}

.card-visualise h3 {
    font-family: 'Arial', sans-serif; 
    font-size: 1.5em; 
    margin-bottom: 10px;
    text-align: center; 
    min-height: 2.5em; 
}

.card-item {
    display: flex;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-label {
    width: 135px; 
    font-weight: bold;
    margin-right: 10px; 
}

.card-value {
    flex: 1; 
    word-wrap: break-word; 
}

.card-value p {
    margin: 0; 
    line-height: 1.5;
}

.card-visualise p {
    font-family: 'Arial', sans-serif; 
    font-size: 1em; 
    margin-bottom: 10px;
    line-height: 1.5;
}

.card-visualise:hover {
    box-shadow: 10px 8px 16px rgba(255, 255, 255, 0.4); 
}

.card-content {
    padding-top: 15px;
    display: grid;
    justify-content: center;
    margin-top: 5px;
}

.card-content p {
    padding-top: 10px;
    font-size: larger;
    font-weight: 500;
}

.card-content a {
    display: grid;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
}

.button {
    text-decoration: none; 
    color: #0a003a; 
    padding: 8px 20px;
    border: 1px solid #0a003a; 
    border-radius: 5px;
    background-color: #ddd; 
    transition: background-color 0.3s, color 0.3s; 
    width: 150px; 
    margin-bottom: 5px; 
}

.button:hover {
    background-color: #0a003a;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form label {
    width: 600px; 
    text-align: left; 
    margin-top: 5px; 
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form textarea,
form button[type="submit"] {
    width: 600px; 
    margin-bottom: 15px; 
}

form select,
form select option {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 600px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0a003a;
    box-sizing: border-box;
}

form select::placeholder {
    color: #0a003a; 
    font-size: medium;
    opacity: 1;
}

.form-container h2 {
    text-align: center;
}

.form-container label {
    display: block;
    margin-top: 5px;
    opacity: 1;
    font-size: large;
}

.form-container .error-message {
    color: red;
    font-size: 1rem;
    margin-top: 0.3rem;
    width: 100%;
    margin-top: -5px;
    text-align: left;
    min-height: 18px;
}


.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0a003a;
    box-sizing: border-box;
}

.form-container input[type="text"]::placeholder,
.form-container input[type="date"]::placeholder,
.form-container input[type="number"]::placeholder,
.form-container textarea::placeholder {
    color: #0a003a; 
    font-size: medium;
    opacity: 1;
}

form button[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.6s ease; 
    margin-top: 15px;
    margin-bottom: -5px;
}

form button[type="submit"]:hover {
    background-color: #0a003a; 
}
.top-bar {
    width: 100%;
    background-color: #05002a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.85;
}

.top-bar .logo {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}


.top-bar nav ul {
    list-style: none;
    display: flex;
}

.top-bar nav ul li {
    margin: 0 10px;
}

.top-bar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    transition: background-color 0.3s, color 0.3s; 
}

.top-bar .logo:hover,
.top-bar nav ul li a:hover {
    color: #4371f0;
}

.filter-bar {
    width: 50%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.filter-bar input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-bar input::placeholder {
    color: #0a003a;
    font-size: large;
    font-weight: 500;    
}

.delete-icon {
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.7; 
    transition: opacity 0.3s ease;
}

.delete-icon:hover {
    opacity: 1; 
}